body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.card {
    flex: 0 0 25%;
    margin: 10px;
}

.card#firstCard {
    flex: 0 0 100%;
    width: 100%;

}

.btn-container {
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
}

i {
    font-weight: normal;
}

h1,
h2 {
    font-size: 20px;
}

