.btn-primary {
    margin-left: 12px;
    border-radius: 12px;
}

.card-container {
    max-width: 600px;
    margin: 20px auto;
}




/* .btn-primary:hover {
    background-color: blue;
    border-color: #c70039;

} */