/* #display-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

/* #display-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}